* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
  background-image: url("../img/background_mobile.png");
  background-repeat: no-repeat;
  background-position: right top;
  color: $text-color;
  font-family: $main-regular;
  padding: 0 20px;
  background-size: contain;

  @media (min-width: $tablet-and-desktop) {
    background: url("../img/background_desktop.png") no-repeat right top;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

[class*="container"] {
  min-width: 280px;
  max-width: 728px;
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet-and-desktop) {
    min-width: 728px;
    max-width: 1360px;
  }
}

.hide-desktop {
  @media (min-width: $tablet-and-desktop) {
    display: none;
  }
}

.section {
  &__title {
    color: $decorations-color;
    font-family: $main-medium;
    font-size: 24px;
    line-height: 36px;
  }
}
