// COLORS

$text-color: #c4bbd4;
$btn-color: #333333;
$decorations-color: #f77481;
$background-color: #1a1426;

// BREAKPOINTS

$tablet-and-desktop: 768px;

// FONTS

$main-regular: "Ubuntu Regular", serif;
$main-medium: "Ubuntu Medium", serif;
$main-light: "Ubuntu Light", serif;
