.promo {
  padding: 106px 0;

  &__sponsor {
    font-family: $main-light;
    font-size: 16px;
    line-height: 18px;
    position: relative;
    text-align: center;

    @media (min-width: $tablet-and-desktop) {
      font-size: 36px;
      line-height: 41px;
    }
  }

  &__sponsor-img {
    width: 88px;
    height: 14px;
  }

  &__dates {
    font-family: $main-light;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.09em;
    text-align: center;
  }

  &__slogan {
    font-family: $main-light;
    font-size: 16px;
    line-height: 26px;
    margin-top: 265px;
    text-align: center;
    padding: 0 10px;
  }
}
